<head>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<div class="overlay">
    <div class="loader"></div>
</div>

<body>
    <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="../"><b style="letter-spacing:5px;">PRANAVAM</b><sub>matrimony</sub></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">



            </ul>

        </div>
    </nav>
    <div class="container register">
        <% include ./partials/messages %>
        <form action="../users/register" method="POST" id="register" enctype="multipart/form-data">
            <div class="row">
                <p class="step">Primary Info</p>
            </div>
            <hr>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="First name" name="fname" required>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Last name" name="lname" required>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Phone" name="phone" required>
                </div>
                <div class="col-md-3">
                    <input type="email" class="form-control" placeholder="Email" name="email" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='date' class="form-control" name="dob" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <select class="form-control" id="exampleFormControlSelect1" name="religion" required>
                        <option value="null">Select Religion</option>
                        <option value="hindu">Hindu</option>
                        <option value="muslim">Muslim</option>
                        <option value="christian">Christian</option>
                        <option value="inter">Inter religion</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-control" id="exampleFormControlSelect1" name="caste" required>
                        <option value="null">Select Caste</option>
                        <option value="nair">Nair</option>
                        <option value="ezhava">Ezhava</option>
                        <option value="deevars">Dheevars</option>
                        <option value="brahmins">Brahmins</option>
                        <option value="namboothiri">Nambootiri</option>
                        <option value="shia">Shia</option>
                        <option value="syro malabar">Syro Malabar</option>
                        <option value="syro malankara">Syro Malankara</option>
                        <option value="syro orthodox">Syro Orthodox</option>
                        <option value="syro jacobite">Syro Jacobite</option>
                        <option value="syro marthoma">Syro Marthoma</option>
                        <option value="vaishyas">Vaishyas</option>
                        <option value="kudumbi">Kudumbi</option>
                        <option value="vishvakarma">Vishvakarma</option>
                        <option value="buddhist">Buddhist</option>
                        <option value="jews">Jews</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="subcaste" placeholder="Sub caste">
                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <div class="custom-control custom-radio custom-control-inline ">
                        <input type="radio" id="customRadioInline11" name="gender" value="male"
                            class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline11">Male</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline ">
                        <input type="radio" id="customRadioInline12" name="gender" value="female"
                            class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline12">Female</label>
                    </div>

                </div>
                <div class="col-md-3">
                    <input type="password" class="form-control" name="password1" placeholder="Password" id="password1"
                        required>
                    <p style="color:red" id="error"></p>
                </div>
                <div class="col-md-3">
                    <input type="password" class="form-control" name="password2" placeholder="Confirm Password"
                        id="password2" required>
                </div>
                <div class="col-md-3">
                    <select class="form-control" id="exampleFormControlSelect1" name="mothertongue" required>
                        <option value="null">Select Mother Tongue</option>
                        <option value="hindi">Hindi</option>
                        <option value="tamil">Tamil</option>
                        <option value="kannada">Kannada</option>
                        <option value="telugu">Telugu</option>
                        <option value="malayalam">Malayalam</option>
                        <option value="gujarati">Gujarati</option>
                        <option value="bengali">Bengali</option>
                        <option value="punjabi">Punjabi</option>
                        <option value="urudu">Urudu</option>
                        <option value="sanskrit">Sanskrit</option>
                        <option value="english">English</option>
                        <option value="sindhi">Sindhi</option>
                    </select>
                </div>


            </div>



            <br>

            <div class="row">
                <p class="step">Family Info</p>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="custom-control custom-radio custom-control-inline ">
                        <input type="radio" id="customRadioInline1" name="marital" value="never married"
                            class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline1">Never Married</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline ">
                        <input type="radio" id="customRadioInline2" name="marital" value="widowed"
                            class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">Widowed</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline ">
                        <input type="radio" id="customRadioInline3" name="marital" value="divorced"
                            class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline3">Divorced</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline ">
                        <input type="radio" id="customRadioInline4" name="marital" value="awaiting divorce"
                            class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline4">Awaiting Divorce</label>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Height" name="height" required>
                </div>
                <div class="col-md-3">
                    <select class="form-control" id="exampleFormControlSelect1" name="financial">
                        <option value="null">Family status</option>
                        <option value="middle class">Middle Class</option>
                        <option value="upper class">Upper Middle</option>
                        <option value="rich">Rich</option>
                        <option value="affluent">Affluent</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select name="type" class="form-control" id="exampleFormControlSelect1">
                        <option value="null">Family Type</option>
                        <option value="joint">Joint</option>
                        <option value="nuclear">Nuclear</option>

                    </select>
                </div>
                <div class="col-md-3">
                    <select name="values" class="form-control" id="exampleFormControlSelect1">
                        <option value="null">Family Values</option>
                        <option value="orthodox">Orthodox</option>
                        <option value="traditional">Traditional</option>
                        <option value="moderate">Moderate</option>

                    </select>
                </div>
            </div>
            <br>

            <div class="row">
                <p class="step">Images </p>
            </div>
            <hr>
            <div class="row">
                <div class=" col-md-3">
                    <div class="custom-file">
                        <input id="inputGroupFile01" type="file" name="photo1" >
                        <label class="custom-file-label" for="inputGroupFile01">Choose photo here</label>
                    </div>
                </div>
                <div class=" col-md-3">
                    <div class="custom-file">
                        <input id="inputGroupFile02" type="file" name="photo2" >
                        <label class="custom-file-label" for="inputGroupFile02">Choose photo here</label>
                    </div>
                </div>
                <div class=" col-md-3">
                    <div class="custom-file">
                        <input id="inputGroupFile03" type="file" name="photo3" >
                        <label class="custom-file-label" for="inputGroupFile03">Choose photo here</label>
                    </div>
                </div>
                <div class=" col-md-3">
                    <div class="custom-file">
                        <input id="inputGroupFile04" type="file" name="photo4" >
                        <label class="custom-file-label" for="inputGroupFile04">Choose photo here</label>
                    </div>
                </div>

            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" name="doc1" multiple >
                        <label class="custom-file-label" for="customFile">Horoscope 1</label>
                    </div>
                </div>

            </div>
            <br>

            <div class="row">
                <p class="step">Profession </p>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <select name="education" class="form-control" id="exampleFormControlSelect1">
                        <option value="null">Education</option>
                        <option value="secondary">Secondary</option>
                        <option value="higher secondary">Higher Secondary</option>
                        <option value="polytechnique">Polytechnique</option>
                        <option value="b tech">B Tech</option>
                        <option value="m tech">M Tech</option>
                        <option value="b arc">B Arc</option>
                        <option value="diploma">Diploma</option>
                        <option value="mbbs">MBBS</option>
                        <option value="m arc">M Arc</option>
                        <option value="ug arts">UG in arts</option>
                        <option value="pg arts">PG in arts</option>
                        <option value="ug science">UG in science</option>
                        <option value="pg science">PG in science</option>
                        <option value="bca">BCA</option>
                        <option value="mca">MCA</option>
                        <option value="bba">BBA</option>
                        <option value="mba">MBA</option>
                        <option value="ttc">TTC</option>

                    </select>
                </div>
                <div class="col-md-3">
                    <select name="employed" class="form-control" id="exampleFormControlSelect1">
                        <option value="null">Employed In</option>
                        <option value="government">Government</option>
                        <option value="private">Private</option>
                        <option value="defence">Defence</option>
                        <option value="busines">Business</option>
                        <option value="self">Self Employed</option>
                        <option value="not employed">Not Employed</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Occupation" name="occupation" required>
                </div>
                <div class="col-md-3">
                    <input type="Number" class="form-control" placeholder="Annual Income(In LPA)" name="salary"
                        required>
                </div>
            </div>
            <div class="row">
                <p class="step">About </p>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Tell us a brief about yourself</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                            name="about"></textarea>
                    </div>
                </div>

            </div>
            <br>

        </form>
        <div class="row">
            <button class="submit button" onclick="submitForm()">Submit</button>
            <button class="submit2 button" id="cancel" onclick='window.location="../"'>Cancel</button>
        </div>
    </div>
    <nav class="navbar sticky-bottom navbar-light bg-light ">
        <p style="color:#dc3545f2;font-size:13px;padding-top:10px;color:white;"> Copyright © Pranavam Matrimony 2019</p>
    </nav>
    <div class="" id="load1">
        <div class="loading-wheel" id="load2"></div>
    </div>
    <script>
        function submitForm() {
            var pw1 = document.getElementById('password1').value;
            var pw2 = document.getElementById('password2').value;
            var load1 = document.getElementById('load1');
            var load2 = document.getElementById('load2');
            if (pw1 == pw2) {

                load1.className += "loading style-2";
                document.getElementById('register').submit();


            } else {
                document.getElementById('error').innerHTML = "Passwords do not match!!"
            }

        }
    </script>


</body>