

<head>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="../"><b style="letter-spacing:5px;">PRANAVAM</b><sub>matrimony</sub></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">



            </ul>

        </div>
    </nav>
    <div class="container">
            <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">Registration completed <img src="../assets/img/tick.png" width="60px"/> </h1>
                        <p class="lead">Thank you ! We will contact you soon.Please <a href="./login">login</a> for changes..</p>
                    </div>
                </div>
    </div>
    <nav class="navbar fixed-bottom navbar-light bg-light ">
        <p style="color:#dc3545f2;font-size:13px;padding-top:10px;color:white;"> Copyright © Pranavam Matrimony 2019</p>
    </nav <!-- Optional JavaScript -->
  
</body>