body{
    margin:0 !important;
    font-family: 'Questrial', sans-serif;
}
#landing{
    background-image:linear-gradient(to top ,rgba(0, 0, 0, 0.4), rgba(1, 1, 1, 0.7)),url('../img/bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    color:#dc3545f2 !important;
}

section{height:95vh}
.navbar{background-color:#dc3545f2!important}
.navbar a{color:white !important}
.navbar a:hover{
    cursor: pointer;
}
.landing-text{padding-top:15%;color:white;letter-spacing:.4vw;line-height:6vw; font-size:4vw;}

  .button{
    background:#dc3545f2;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.4em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    left:40%;
  }
  .button:hover{
    background:transparent;
    color:#dc3545f2;
  }
  .button:before,.button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #dc3545f2;
    transition:400ms ease all;
  }
  .button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .button:hover:before,.button:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  .login{
      height:15vh;
      float:left;
     font-size:2vw;
     background-color:white;
      color:black;
      text-align:center;
      width:100%;
      letter-spacing: 3px;padding-top:35px;

  }
  .already{font-family: 'Rubik', sans-serif;}
  .query{
      height:35vh;
      background-color:#8080801c;
      color:black;
  }
  .quer1{
      padding:50px;
      text-align:right;
  }
  .quer1 h1, p{
      letter-spacing:3px;
  }
  .form-group{
      float:left;
      width:100%;
  }
  input{
      border-color:transparent;
      border-bottom:1px solid #dc3545f2;
      background:transparent;
      width:100%;
  }
  input:focus, textarea {
    outline: none !important;
}
button:focus, textarea {
    outline: none !important;
}
form{width:100%;}
/* form{margin-left:15%;} */
.form{
    background-color:#dc3545f2;
    color:white;
    font-size:1vw;
    margin-top:-25px !important;
    padding:10px 15px 10px 15px;
}
td{
    text-transform: uppercase;
}
.form1{
    background-color:#dc3545f2;
    color:white;
    font-size:1vw;
    margin-top:-3px !important;
    padding:10px 15px 10px 15px;
}
.register{background-color:#a59d9d26;
    margin:20px 0px 40px 140px;
    padding-bottom:50px;

}
.step{
    margin:20px 0px 5px 20px;
}
.submit{
    margin-left:-60px;
}
.submit:hover{background-color:#dc3545f2 !important;
    color:white;
}
.submit2{
    background-color: grey;
    margin-left:10px;
}
.submit2:hover{
    background-color:grey;
    color:white;}
.jumbotron{
    margin-top:15%;
}
.filter{
    background-color:white;
    padding:40px;
}
.quer2{
    border-right:1px solid red
}
.hurr{
    font-size:2.8vw;
}
.quer2 p{
    font-size:1vw;
}

@media only screen and (max-width: 600px){
    .sms{
        margin-top:30px;
    }
    .login{
        height:15vh;
        margin:5px;
        font-size:4vw;
    }
    .button{
        margin-left:-50px;
        font-size:1em;
    }
    .landing-text{
        padding-top:60%;
    }
    .quer2{
        border:none;
        font-size:2vw;
    }
    .hurr{
        font-size:30px;
        text-align:left;
    }
    .quer2 p{
        font-size:10px;
    }
    .form{
        font-size:3vw;
    }
    .footer{
        visibility: hidden;
    }
    .register{background-color:#a59d9d26;
        margin:0px;
        padding-bottom:50px;
    
    }
    .submit2{
        background-color: grey;
        margin-left:30px;
    }
}

input[type="file"] { 
    z-index: -1;
    position: absolute;
    opacity: 0;
  }
  
  input:focus + label {
    outline: 2px solid;
  }
  .loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 10;
}
.loading-wheel {
    width: 20px;
    height: 20px;
    margin-top: -40px;
    margin-left: -40px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    border-width: 30px;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
}
.style-2 .loading-wheel {
    border-style: double;
    border-color: #ccc transparent;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}